<!DOCTYPE html>

<head>
    <title>Abuelo</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Abuelo</h1>
        <h3 id="textCh">
        Instrumeto: Fagot
    </h3>
    <br>
    <br>
    <br>
    <br>
    <div class="audio">
        <audio controls>
            <source src="/mp3/Fagot-Abuelo.mp3" type="audio/mpeg">
        </audio>
    </div>
    <br>
    <button id="buttonCh" onclick="window.location.href='/templates/index.html'">Volver</button>
    

</body>
</html>