<!DOCTYPE html>

<head>
    <title>Cazadores</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Cazadores</h1>
        <h3 id="textCh">
        Instrumetos: Bombo y Timbales
    </h3>
    <br>
    <br>
    <br>
    <br>
    <div class="audio">
        <audio controls>
            <source src="/mp3/Bombo-y-Timbales-Cazadores.mp3" type="audio/mpeg">
        </audio>
    </div>
    <br>
    <button id="buttonCh" onclick="window.location.href='/index.html'">Volver</button>
    

</body>
</html>