<!DOCTYPE html>

    <head>
        <title>Reproductor de Audios</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <button id="button" onclick="window.location.href='/templates/pedro.html'">Pedro</button>
        <button id="button" onclick="window.location.href='/templates/lobo.html'">Lobo</button>
        <button id="button" onclick="window.location.href='/templates/pato.html'">Pato</button>
        <button id="button" onclick="window.location.href='/templates/gato.html'">Gato</button>
        <button id="button" onclick="window.location.href='/templates/pajaro.html'">Pájaro</button>
        <button id="button" onclick="window.location.href='/templates/cazadores.html'">Cazadores</button>
        <button id="button" onclick="window.location.href='/templates/abuelo.html'">Abuelo</button>
    </body>


</html>
