<!DOCTYPE html>

<head>
    <title>Pedro</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Pedro</h1>
        <h3 id="textCh">
        Instrumentos de Cuerda (Violín)
    </h3>
    <br>
    <br>
    <br>
    <br>
    <div class="audio">
        <audio controls>
            <source src="/mp3/Violín-_vientos-de-cuerda_-Pedro.mp3" type="audio/mpeg">
        </audio>
    </div>
    <br>
    <button id="buttonCh" onclick="window.location.href='/index.html'">Volver</button>
    

</body>
</html>


